<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WfaVendas.Properties.Settings.LP2ConnectionString"
            connectionString="Data Source=apolo;Initial Catalog=LP2;Persist Security Info=True;User ID=DS210322;Password=Arthur232@"
            providerName="System.Data.SqlClient" />
        <add name="WfaVendas.Properties.Settings.LP2ConnectionString5"
            connectionString="Data Source=DESKTOP-8JRUIJ8\SQLEXPRESS;Initial Catalog=LP2;User ID=DS210322;Password=Arch232@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>